
.input {
    margin-bottom: 1rem;
    border-color: transparent;
    background-color: transparent;
  }
  
  .form {
    /* margin-bottom: 3rem; */
    /* margin: 3rem 0; */
    /* border: 1px solid grey; */
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 5px 5px rgba(181,181,181,0.2); 
    box-shadow: 0px 2px 5px 5px rgba(181,181,181,0.2);
    background-color: #fbeda0;
    border-radius: 0;
  }

  .text-input {
    box-sizing: border-box;  
    resize: none;
    overflow-y: hidden;
    background-color: transparent;
  }

  .title-input {
    font-weight: 700;
  }