.card-note {
    width: 15rem;
    margin: 10px;
    border: 1px solid blue;
  }
  



.card-header {
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.card-delete-button {
  font-size: 1.5rem;
  cursor: pointer; 
}

