* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
}


.notes-container {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}



.modal-body.modal-content {
  padding: 0; 
  border-radius: 0;
}

.modal-content.modal-header{
  background-color: #fbeda0;
  border-radius: 0;
  
}

.modal-content {
  overflow: hidden;
  max-width: 100vw;
  width: 30rem !important;
}
