* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

.App {
  min-height: 100vh;
}

.note-input {
  margin-bottom: 1rem;
}

.form {
  /* margin: 3rem 0; */
  margin-bottom: 3rem;
  /* border: 1px solid grey; */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  border: 1px solid rgba(0, 0, 0, 0.176);
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 5px rgba(181,181,181,0.2); 
  box-shadow: 0px 2px 5px 5px rgba(181,181,181,0.2);
}

.notes-container {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: '15rem';
}


/* .container {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

.form{
  display: flex;
  flex-direction: column;
  padding:50px;
  border: 1px black solid;
} */

